<!-- Index page html -->
<!DOCTYPE html>
<html lang="en" class="adaptive">

<head>
    <meta charset="UTF-8"> <title>EMHASS: Energy Management Optimization for Home Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css?version=2">
    <link rel="icon" type="image/x-icon" href="static/img/emhass_logo_short.svg">
    <script src="static/script.js"></script>
</head>

<body style="margin: auto; align-items:center; text-align:center;">

    <div>
        <!-- Icons by feather https://github.com/feathericons/feather -->
        <div id="top-links">
            <!-- configuration page  -->
            <a href="configuration" title="Configuration Page" style="margin-right: 12px; cursor: pointer; z-index: 1">
                <svg class="feather">
                    <use class="feather" href="static/img/feather-sprite.svg#settings" />
                </svg>
            </a>
            {% if use_heatpump %}
            <a href="thermal-comfort" title="Thermostat" style="margin-right: 12px; cursor: pointer; z-index: 1">
                <svg class="mdi-icon" viewBox="0 0 24 24">
                    <path d="M16.95,16.95L14.83,14.83C15.55,14.1 16,13.1 16,12C16,11.26 15.79,10.57 15.43,10L17.6,7.81C18.5,9 19,10.43 19,12C19,13.93 18.22,15.68 16.95,16.95M12,5C13.57,5 15,5.5 16.19,6.4L14,8.56C13.43,8.21 12.74,8 12,8A4,4 0 0,0 8,12C8,13.1 8.45,14.1 9.17,14.83L7.05,16.95C5.78,15.68 5,13.93 5,12A7,7 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                </svg>
            </a>
            {% endif %}
            <!-- advanced or basic page switch -->
            <a id="basicOrAdvanced" title="Advanced Toggle" style="margin-right: 24px; cursor: pointer; z-index: 1">
                <svg class="feather">
                    <use class="feather" href="static/img/feather-sprite.svg#tool" />
                </svg>
            </a>
            <a href="https://emhass.readthedocs.io/en/latest/">
                <svg class="feather" title="EMHASS Docs" style="margin-right: 12px;" ;>
                    <use class="feather" href="static/img/feather-sprite.svg#book" />
                </svg>
            </a>
            <a href="https://github.com/davidusb-geek/emhass" target="_blank" rel="noopener noreferrer">
                <svg class="feather" title="EMHASS Git repo" style="margin-right: 0px;">
                    <use class="feather" href="static/img/feather-sprite.svg#git-branch" />
                </svg>
            </a>
        </div>
        <!-- Title -->
        <img src="static/img/emhass_icon.png" alt="">
        <h2>EMHASS: Energy Management Optimization for Home Assistant</h2>
    </div>


    <div class="center">
        <div id=TabSelection class="form">
            <!-- Basic and Advance pages will be dynamically loaded here  -->
        </div>
    </div>
    <!-- alert box element -->
    <div style="display: none;" id="alert" class="alert">
        <div>
            <button type="button" class="close-btn" onclick="this.parentElement.parentElement.style.display='none';" aria-label="Close">
  &times;
</button>
            <p id="alert-text"></p>
        </div>
    </div>
    <br>

    <!-- dynamic table/diagram elements section -->
    </div>
    <div id="template"> <!-- table/diagram container element  -->
        {% for plot in injection_dict %} <!-- diagrams/tables elements will be added here -->
        <div class="table_div">
            {{injection_dict[plot] | mark_safe}}
        </div>
        {% endfor %}
        <div>

            <footer class="footer">
                <p style="margin-top:10px; text-align:center;">&copy; MIT License | Copyright (c) 2021-2025 David
                    HERNANDEZ</p>
            </footer>
</body>

</html>
